.avatar {
    border-radius: 50%;
    background: linear-gradient(135deg, #fd2828, #110c61);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
    overflow: hidden;
    user-select: none;
    transition: transform 0.2s ease;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar:hover {
    transform: scale(1.05);
    cursor: pointer;
}