.dashboard-container {
    padding: 30px;
    font-family: 'Arial', sans-serif;
    max-width: 900px;
    margin: 40px auto; /* центр контейнера на странице */
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
}

.dashboard-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.dashboard-container h2 {
    margin-bottom: 20px;
    color: #555;
}

.publications-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.publication-item {
    display: flex;
    justify-content: space-between; /* название слева, кнопки справа */
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.publication-item span {
    font-weight: bold;
    color: #333;
    text-align: left;
    flex: 1; /* растягиваем название, чтобы кнопки были справа */
}

.publication-item button {
    margin-left: 10px;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #2196F3;
    transition: background-color 0.2s;
}

.publication-item button:hover {
    background-color: #1976D2;
}

.add-publication-btn {
    margin-top: 25px;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-publication-btn:hover {
    background-color: #45a049;
}

.dashboard-header{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.logout-btn {
    background-color: #e53935;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    height: 50px;
    margin-top: 18px;
}
.logout-btn:hover {
    background-color: #c62828;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(229, 57, 53, 0.3);
}