.navbar {
    height: 60px;
    background-color: #1e1e2f;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;
}

/* Контейнеры слева и справа */
.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Центр с приветствием */
.navbar-center {
    font-weight: bold;
    font-size: 16px;
    opacity: 0.9;
    cursor: default;
}

/* Общие стили для кнопок */
.navbar-profile,
.navbar-dashboard,
.navbar-logout {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.35s ease;
}

/* Аватар пользователя */
.navbar-profile {
    font-size: 20px;
}

/* Hover эффекты с дерганием */
.navbar-profile:hover {
    font-size: 25px;
}

.navbar-dashboard:hover {
    color: lightblue;
    font-size: 15px;
}

.navbar-logout:hover {
    color: #fd2828;
    font-size: 15px;
}

.navbar.avatar {
    font-size: 10px;
}